name: My First Workflow
on: workflow_dispatch
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: |
            echo "*****"
            echo "Hell0 World!"
      - name: Print Goodbye
        run: echo "See you again."


