name: Output Test
on: workflow_dispatch

jobs:
    info:
        runs-on: ubuntu-latest
        steps:
            - name: Output Github Context
              run: |
                echo 'Please check following information:'
                echo '${{ toJson(github)}}'
